.bo-de-ti {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;
    background: #111;
    color: #fff;
    padding: 7px 5px;
    text-transform: uppercase;
}

.booking-form {
    display: block;
}

input:required:focus {
    border: 1px solid red;
    outline: none;
}

.booking-form-heading {
    background: #222;
    padding: 15px 5px;
}

.booking-form-heading h1 {
    font-size: 21px;
    color: #fff;
    text-align: center;
    font-weight: 800;
}

/*progressbar*/
#progressbar {
    overflow: hidden;
    counter-reset: step;
    text-align: center;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 35px;
    line-height: 35px;
    display: block;
    font-size: 10px;
    color: #111;
    background: white;
    border-radius: 50%;
    margin: 0 auto 5px auto;
    font-weight: 800;
}

/*progressbar connectors*/
#progressbar li::after {
    content: '';
    width: 90%;
    height: 10px;
    background: #fff;
    position: absolute;
    left: -44%;
    top: 13px;
    overflow: hidden;
    color: #111;
    transition: 0.8s;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
    background: #fc0;
    color: white;
}

.form-field-block {
    background: #f2f2f2;
    padding: 30px 15px;
}

.info-form {
    height: auto;
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 6px #000;
    padding: 20px;
    display: block;
    overflow: hidden;
}

.info-form fieldset {
    border: 0 none;

    width: 100%;
    position: relative;
}

/*Hide all except first fieldset*/
.info-form fieldset:not(:first-of-type) {
    display: none;
}

.booking-details-block {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 0px;

}

.booking-details-block h1 {
    text-align: center;
    font-size: 18px;
    color: #111;
    font-weight: 800;
}

.booking-name-details {
    text-align: center;
    margin-top: 5px;
    display: none;

}

.booking-name-details span {
    font-size: 13px;

}

#package-table-booking {
    width: 100%;
}

#package-table-booking thead {
    background: #111;
    line-height: 28px;
    color: #fff;
    font-size: 12px;
}

.invoiceDetailsCont thead {
    font-size: 12px;
    text-align: center;
    background: #111;
    color: #fff;
    line-height: 30px;
}

.invoiceDetailsCont tbody {
    font-size: 12px;
}

#package-table-booking tbody {
    font-size: 12px;
}

input#couponcode {
    border: 3px solid #111 !important;
    margin: 15px 0;
}

#package-table-booking tbody tr {
    border-bottom: 1px solid #7777;
    font-size: 12px;

}

#package-table-booking tbody tr td {
    padding: 0px 4px;
    line-height: 30px;
}

#package-table-booking thead tr th {
    padding: 5px 5px;
    font-size: 14px;
}

.grand-total {
    padding: 5px 5px;
}

.viewInvoice {
    background: #fc0;
    border: 0px;
    padding: 5px 10px;
    color: #111;
    font-size: 14px;
    font-weight: 700;
}

#submitcoupon {
    background: #fc0;
}

#couponcode {
    line-height: 24px;
    padding: 0px 5px;
}

#submitcoupon {
    line-height: 24px;
    border: 0px;
}

.invoiceDetailsCont {
    width: 100%;
    margin: 10px 0;

}

.invoiceDetailsCont tbody tr {
    border-bottom: 1px solid #7777;
}

.invoiceDetailsCont tbody tr td {
    padding: 0px 5px;
    line-height: 32px;
    font-size: 13px;
}

.modalTable {
    width: 100%;
}

.modalTable thead {
    background: #111;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
}

.modalTable thead tr th {
    padding: 0px 10px;
}

.modalTable tbody tr td {
    padding: 0px 10px;
}

.modalTable tbody {
    font-size: 12px;
    background: #f2f2f2;
    line-height: 30px;
}

.modalTable tfoot {
    font-size: 12px;
    background: lightgray;
    line-height: 30px;
    font-weight: 800;
}

.viewInvoice {
    font-size: 12px;
}

select {

    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
}

.red {
    color: red;
    font-size: 12px;
}

.col-3-select {
    background-position-x: 154px;
}

.col-4-select {
    background-position-x: 224px;
}

.col-2-select {
    background-position-x: 76px;
}

.form-control {
    padding: 5px !important;
    line-height: 30px !important;

}

.form-group label {
    font-size: 12px;
    font-weight: 800;
}

#startdate {
    line-height: 24px !important;
}

.previous {
    background: #111;
    font-size: 13px;
    font-weight: 800;
    border: 0;
    color: #fff;
    padding: 5px 20px;
    border-radius: 30px;
}

.next, .btn-btn-submit {
    background: #fc0;
    font-size: 13px;
    font-weight: 800;
    border: 0;
    color: #111;
    padding: 5px 20px;
    border-radius: 30px;
}

.inner-package-head-title h3 {
    font-size: 16px !important;
}

.inner-package-head-title h3::after {
    width: 50px !important;
}

.inner-package-head-title h3::before {
    left: 48px !important;
}

#radiocb label {
    font-size: 14px;
}

.trip-details-table table {
    width: 100%;
}

.trip-details-table table {
    padding: 4px;
}

.trip-details-table table tr {
    font-size: 12px;
    line-height: 25px;
    border-bottom: 1px solid #222;


}

.trip-details-table tr td {
    width: 18%;
    line-height: 19px;
    padding: 5px 0;
}

.trip-details-table tr td b {
    width: 95%;
}

#discounts tbody tr {
    border: 0;
}

.ggtt {
    text-align: right;
    padding: 0 78px !important;
}

div#janedin {
    display: inline-block;
}


.modalTable {
    width: 100%;
}

.modalTable thead {
    background: #111;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
}

.modalTable tbody tr td {
    padding: 10px 10px;
    font-size: 13px;
}

.modalTable tbody {
    font-size: 12px;
    background: #f2f2f2;
    line-height: 30px;
}

.modalTable tfoot {
    font-size: 12px;
    background: lightgray;
    line-height: 30px;
    font-weight: 800;
    padding: 0 10px;
}

.modalTable tfoot tr td {
    padding: 0 10px;
}

.viewInvoice {
    font-size: 12px;
}

.modalTable thead tr {
    font-size: 14px;
}

.modalTable thead tr th {
    padding: 7px 5px;
}

.form-control:disabled, .form-control[readonly] {
    background: none !important;
}

#koho {
    font-size: 13px;
}

#not {
    font-size: 13px;
}

.validate.form-control.col-2-select {
    font-size: 13px;
}

input:focus {
    outline: none;
}

input {
    font-size: 13px !important;
}

.next.action-button {
    float: right;
    margin-top: 20px;
}

.previous.action-button {
    float: left;
}

.paybank.btn-btn-submit {
    float: right;
    margin-right: 5px;
}

.payonlinebtn.btn-btn-submit {
    float: right;
}

input:focus {
    outline: none;
}